$accentColor = #CC2233 //Cardinal
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
// 代码库重置
.content pre{ margin: 0!important;}


h2 {
	font-size: 2 rem;
	color: #42B983;
}

h3 {
	font-size: 1.2 rem;
	margin-top: 0 px;
	padding-top: 10 px;
	padding-bottom: 0 px;
}

h4 {
	color: #6196CC;
	font-size: 14 px;
	margin-top: 0 px;
	padding-top: 10 px;
	padding-bottom: 10 px;
}
